@font-face {
  font-family: 'ralewaybold';
  src: url("../fonts/RalewayBold/raleway-bold-webfont.eot");
  src: url("../fonts/RalewayBold/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayregular';
  src: url("../fonts/RalewayRegular/raleway-regular-webfont.eot");
  src: url("../fonts/RalewayRegular/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: ralewayregular, sans-serif;
  color: #38181d;
  font-size: 18px; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: none repeat scroll 0 0 #fff;
  z-index: 1000; }

header {
  height: 100vh;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff; }
  header .slide a:before {
    position: absolute;
    content: "";
    bottom: 30px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    z-index: 1; }
  header .slide a:after {
    position: absolute;
    content: "";
    bottom: 60px;
    left: 50%;
    margin-left: -7px;
    width: 14px;
    height: 14px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 1px;
    z-index: 1;
    transform: rotate(-45deg);
    animation: down 1.1s infinite; }

@keyframes down {
  100% {
    bottom: 40px; } }

.introduction {
  font-size: 20px;
  padding-top: 40vh;
  position: relative; }
  .introduction p span {
    display: block;
    font-size: 60px;
    font-weight: 700; }

.menu_line {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
  letter-spacing: 2px; }
  .menu_line div {
    padding: 15px;
    border-bottom: 1px solid #38181d;
    color: #38181d;
    font-size: 18px;
    font-weight: 700; }
    .menu_line div ul {
      margin: 0; }
      .menu_line div ul li {
        padding: 0 20px 0; }
        .menu_line div ul li a {
          text-decoration: none;
          color: #38181d; }
        .menu_line div ul li.active a, .menu_line div ul li a:hover {
          padding: 0 0 15px;
          border-bottom: 3px solid #38181d; }
  .menu_line .toggle_menu {
    display: none; }
    .menu_line .toggle_menu i {
      text-rendering: optimizeLegibility; }
  .menu_line .close_menu {
    display: none; }

h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 700; }

h2 {
  color: #38181d;
  padding-bottom: 15px;
  position: relative;
  margin: 50px 0; }
  h2:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: 0;
    background-color: #38181d;
    width: 80px;
    height: 3px; }

#about, #portfolio {
  margin-bottom: 50px; }

.contant {
  margin-bottom: 40px; }

#about button {
  padding: 10px 30px;
  border: 1px solid #38181d;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 700;
  outline: none; }
  #about button:hover {
    border: 1px solid #fff;
    background-color: #8d685f;
    color: #fff; }

#skill {
  background-color: #dabc98;
  color: #38181d;
  padding-bottom: 50px; }
  #skill h2:after {
    background-color: #38181d; }
  #skill .skilles {
    margin-bottom: 70px; }
    #skill .skilles div {
      color: #38181d;
      font-weight: 700;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 40px; }
      #skill .skilles div:before {
        border: transparent;
        position: absolute;
        content: "";
        top: 25px;
        left: 0;
        height: 100%;
        width: 100%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
      #skill .skilles div:after {
        position: absolute;
        content: "";
        top: 25px;
        left: 0;
        height: 100%;
        background-color: #8d685f;
        border-right: none; }

.strong:after {
  width: 95%; }

.good:after {
  width: 75%; }

.base:after {
  width: 25%; }

#portfolio p {
  margin-bottom: 50px; }

#portfolio .item {
  height: 300px;
  max-width: 320px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative; }
  #portfolio .item .details {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 75px 10px 0;
    margin-bottom: 30px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 1s ease; }
  #portfolio .item:hover .details, #portfolio .item:focus .details {
    top: 0%; }
  #portfolio .item h3 {
    margin-bottom: 30px;
    font-size: 18px; }
  #portfolio .item button {
    padding: 10px;
    width: 175px;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: transparent;
    display: block;
    border: transparent;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    outline: none; }
    #portfolio .item button:hover {
      background-color: rgba(255, 255, 255, 0.5); }

#portfolio .owl-theme div.owl-nav button.owl-prev, #portfolio .owl-theme div.owl-nav button.owl-next {
  position: absolute;
  outline: none;
  width: 30px;
  height: 30px; }
  #portfolio .owl-theme div.owl-nav button.owl-prev:hover, #portfolio .owl-theme div.owl-nav button.owl-prev:focus, #portfolio .owl-theme div.owl-nav button.owl-next:hover, #portfolio .owl-theme div.owl-nav button.owl-next:focus {
    background-color: transparent; }

#portfolio .owl-theme div.owl-nav button img {
  width: 30px; }

#portfolio .owl-theme div.owl-nav button.owl-prev {
  top: 50%;
  margin-top: -15px;
  left: 10px; }

#portfolio .owl-theme div.owl-nav button.owl-next {
  top: 50%;
  margin-top: -15px;
  right: 10px; }

#contact {
  background-position: center;
  background-size: cover; }
  #contact h2 {
    color: #dabc98; }
    #contact h2:after {
      background-color: #dabc98; }
  #contact form {
    display: block;
    font-size: 16px;
    margin-bottom: 80px; }
    #contact form * {
      outline: none;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.6);
      border: transparent;
      border-radius: 1px;
      margin-bottom: 25px;
      padding: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
    #contact form textarea {
      min-height: 100px;
      resize: none; }
    #contact form input:hover, #contact form textarea:hover, #contact form button:hover {
      background-color: rgba(255, 255, 255, 0.7); }
    #contact form button {
      margin-bottom: 20px;
      width: 150px;
      border-radius: 3px; }
    #contact form input::placeholder, #contact form textarea::placeholder {
      color: #38181d; }
  #contact .soc_icons li {
    margin-right: 15px;
    height: 40px;
    width: 40px; }
    #contact .soc_icons li:last-child {
      margin-right: 0; }
    #contact .soc_icons li a {
      font-size: 30px;
      color: #fff; }
      #contact .soc_icons li a:hover i {
        font-size: 34px; }
  #contact .copy {
    padding: 25px;
    color: #fff; }

@media (max-width: 768px) {
  .introduction {
    font-size: 14px; }
    .introduction p span {
      font-size: 30px; } }

@media (max-width: 375px) {
  .introduction {
    font-size: 14px; }
    .introduction p span {
      font-size: 24px; } }

@media (min-width: 992px) {
  #about, #portfolio {
    margin-bottom: 100px; }
  h2 {
    margin: 85px 0; }
  #skill {
    padding-bottom: 100px; } }

@media (max-width: 1069px) {
  .menu_line h1, .menu_line #main_menu {
    font-size: 14px; } }

@media (max-width: 931px) {
  .menu_line #main_menu {
    display: none; }
  .menu_line div .toggle_menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #38181d; }
  .menu_line div .close_menu {
    display: none; }
  .open_menu #main_menu {
    display: block;
    margin-top: 15px; }
    .open_menu #main_menu li {
      display: block;
      width: 100%;
      text-align: center;
      padding: 10px;
      position: relative;
      top: 0;
      right: 0; }
      .open_menu #main_menu li a {
        color: #38181d;
        border: none; }
      .open_menu #main_menu li.active a {
        padding: 0 0 10px; }
  .open_menu div .toggle_menu {
    display: none; }
    .open_menu div .toggle_menu i {
      text-rendering: optimizeLegibility; }
  .open_menu div .close_menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #38181d; } }
