@media (max-width: 1200px) {
		.wrapper {
			width: 900px;
		}

		.logo {
			margin-left: 126px;
		}

		.search {
			margin-left: 70px;
		}

		nav>.wrapper>ul>li>a {
			padding: 5px 15px;
		}

		.title:before {
			left: -15px;
		}

		.new {
			margin-left: 35px;
		}	

		body:before {
			left: -260px;
		}	

		body:after {
			right: 0;
			top: 2400px;
		}

		.book {
			margin: 0 auto;
		}	

		.new {
			display: none;
		}	

		.news {
			margin: 0 auto;
			width: 490px;
		}

		.news>div {
			float: none;
			display: inline-block;
    		margin-bottom: 30px;
		}

		.news>a {
			display: block;
			width: 120px;
			margin: 0 auto;
		}

		.to_contact {
			margin-left: -450px;
		}

		.newsletter {
			float: left;
			margin-left: 20px;
		}

		.soc {
			margin-left: -40px;
		}
	}


	@media (max-width: 992px) {
		.wrapper {
			width: 710px;
		}

		.wrapper>* {
			display: none;
		}

		header {
			height: 50px;
			background-color: #65baaf;
			position: relative;
			width: 100%;
		}

		header:before {
			content: "";
			position: absolute;
			top: 50%;
			margin-top: -15px;
    		left: 10px;
			background-color: transparent;
			background: url(../img/sprite.png);
			background-position: -300px -57px;
			width: 40px;
			height: 30px;
		}

		header>.wrapper>.contacts {
			display: block;
			text-align: right;
			padding-top: 8px;
			margin-top: 0;
		}

		.contacts>li {
			color: #fff;
		}

		.contacts>li:before, li:after {
			display: none;
		}

		.logo {
			display: block;
			margin-left: 126px;
		}

		.logo>a {
			top: -45px;
    		left: 94%;
    		border: 20px solid #fff;
		}

		nav {
			display: none;
		}

		.bg {
			top: -91px;
    		left: 0;
		}

		.title:before, .title:after {
			display: none;
		}

		.title {
			width: 710px;
		}

		.search {
			margin-left: 70px;
		}

		nav>.wrapper>ul>li>a {
			padding: 5px 15px;
		}

		.title:before {
			left: -15px;
		}

		.new {
			display: block;
			margin: 0 auto;
			float: none;
			position: relative;
		}	

		.cake:before {
			left: 46%;
		}

		.cake:after {
			left: 56%;
		}

		.adv>ul {
			width: 710px;
		}

		body:before {
			display: none;
		}	

		body:after {
			display: none;
		}

		.values {
			width: 710px;
		}	

		.news {
			margin: 0 auto;
			width: 490px;
		}

		.news>div {
			float: none;
			display: inline-block;
    		margin-bottom: 30px;
		}

		.news>a {
			display: block;
			width: 120px;
			margin: 0 auto;
		}

		.to_contact {
			margin-left: -355px;
		}

		footer {
			width: 710px;
		}

		.nav_menu {
			text-align: center;
		    width: 410px;
		    margin: 0 auto;
		    float: none;
		    margin-bottom: 40px;
		}

		.nav_menu>li {
			display: inline-block;
			float: none;
			width: auto;
			padding: 0 10px;
			margin-bottom: 10px;
    		border-right: 1px solid #7d7d7d;
		}

		.nav_menu>li:last-child, li:nth-child(5) {
			border: none;
		}

		footer>.clearfix>.footer_contacts {
			float: none;
			margin: 0 auto;
			width: 460px;
			margin-bottom: 40px;
		}

		footer>.clearfix>.footer_contacts>ul>li {
			color: #7d7d7d;
			text-align: center;
		}

		.newsletter {
			float: none;
			margin: 0 auto;
			padding-top: 35px;
			height: 177px;
		}

		.newsletter>h5 {
			margin: 0;
			margin-bottom: 25px;
		}
		
		.clearfix>.copy>ul {
			text-align: center;
		}

		.clearfix>.copy {
			width: 710px;
		}

		footer>div:nth-child(2)>div {
			margin: 10px auto;
			display: block;
		}

		.soc {
			width: 110px;
		}

		.soc>ul>li {
			margin-right: 10px;
		}
		
		.soc>ul>li:last-child {
			margin: 0;
		}
	}


	@media (max-width: 768px) {
		.wrapper {
			width: 100%;
		}

		.wrapper>* {
			display: none;
		}

		header:before {
			content: "";
			position: absolute;
			top: 50%;
			margin-top: -15px;
    		left: 10px;
			background-color: transparent;
			background: url(../img/sprite.png);
			background-position: -300px -57px;
			width: 40px;
			height: 30px;
		}

		header>.wrapper>.contacts {
			display: block;
			text-align: right;
			padding-top: 8px;
			margin-right: 10px;
			margin-top: 0;
		}

		.contacts>li {
			color: #fff;
		}

		.contacts>li:before, li:after {
			display: none;
		}

		.logo {
			display: block;
			margin-left: 126px;
		}

		.logo>a {
			top: -45px;
    		left: 113%;
    		border: 20px solid #fff;
		}

		nav {
			display: none;
		}

		.slider {
			display: none;
		}

		.slider>p:nth-child(2) {
			margin: 0 auto;
			width: 710px;

		}

		.bg {
			top: -91px;
    		left: 0;
		}

		.title:before, .title:after {
			display: none;
		}

		.title {
			width: 710px;
			margin-top: 200px;
		}

		.search {
			margin-left: 70px;
		}

		nav>.wrapper>ul>li>a {
			padding: 5px 15px;
		}

		.title:before {
			left: -15px;
		}

		.new {
			display: block;
			margin: 0 auto;
			float: none;
			position: relative;
		}	

		.cake:before {
			left: 46%;
		}

		.cake:after {
			left: 56%;
		}

		.adv>ul {
			width: 710px;
		}

		body:before {
			display: none;
		}	

		body:after {
			display: none;
		}

		.values {
			width: 710px;
		}	

		.video {
			display: none;
		}

		#map {
			display: none;
		}

		.news {
			margin: 0 auto;
			width: 490px;
		}

		.news>div {
			float: none;
			display: inline-block;
    		margin-bottom: 30px;
		}

		.news>a {
			display: block;
			width: 120px;
			margin: 0 auto;
		}

		.to_contact {
			display: none;
		}

		footer {
			width: 710px;
		}

		.nav_menu {
			text-align: center;
		    width: 410px;
		    margin: 0 auto;
		    float: none;
		    margin-bottom: 40px;
		}

		.nav_menu>li {
			display: inline-block;
			float: none;
			width: auto;
			padding: 0 10px;
			margin-bottom: 10px;
    		border-right: 1px solid #7d7d7d;
		}

		.nav_menu>li:last-child, li:nth-child(5) {
			border: none;
		}

		footer>.clearfix>.footer_contacts {
			float: none;
			margin: 0 auto;
			width: 460px;
			margin-bottom: 40px;
		}

		footer>.clearfix>.footer_contacts>ul>li {
			color: #7d7d7d;
			text-align: center;
		}

		.newsletter {
			float: none;
			margin: 0 auto;
			padding-top: 35px;
			height: 177px;
		}

		.newsletter>h5 {
			margin: 0;
			margin-bottom: 25px;
		}
		
		.clearfix>.copy>ul {
			text-align: center;
		}

		.clearfix>.copy {
			width: 710px;
		}

		footer>div:nth-child(2)>div {
			margin: 10px auto;
			display: block;
		}

		.soc {
			width: 110px;
		}

		.soc>ul>li {
			margin-right: 10px;
		}
		
		.soc>ul>li:last-child {
			margin: 0;
		}
	}